body {
  min-height: 2000px;
}
body {
  min-height: 2000px;
}
.jumbotron {
 padding-top: 5rem;
  background-color: #e2edff;
}
.img-fixed {
  height: 200px;
  object-fit: cover;
}
.footer {
  border-top: 1px solid rgba(255,255,255,0.2);
}
footer .nav-link:hover {
  color: #aaa;
}